body{
    color: black;
    
    background-color: rgb(255, 255, 255);
    background-image: url("https://wallpapercave.com/wp/wp3748306.png");
    background-size: cover;
}
#Info_box{
    margin: 390px;
    padding: 30px;

    font-size: 15px;

    border-radius: 10px;

    background-color: rgb(0, 0, 0);

    border-left: 5px red solid;
}
h2{
    color: blue;
}